@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
font-family: 'roboto', sans-serif;
font-size: 16px;
font-weight: normal;
background: #f1f1f1;
color: #0f141e;

}
.info-text p {
   font-style: italic;
   font-weight: bold;
   color: #86898f;
}



.borders-1 {
   border-width: 2px;
   border-style: solid;
   border-color: red;
   border-radius: 5px;
}

.borders-2 {border-bottom: 2px solid blue;}


.borders-3 {
   border-left: 6px solid red;
   background: lightsalmon;
   padding-left: 10px;
   color: aqua;
}